[submodule "engine/external/imgui"]
	path = engine/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "engine/external/rapidjson"]
	path = engine/external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
